.article-list {
    padding: 20px;
    
    
    
  }
  
  .filter {
    margin-bottom: 20px;
    align-items: center;
  }
  
  .filter label {
    margin-right: 10px;
    font-weight: bold;
    color: rgb(255, 54, 47)
  }
  
  .filter select {
    padding: 5px;
    font-size: 1em;
    
  }
  